ul {
  list-style: none;
  padding: 0;
}
.head {
  text-align: center;
}
li {
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

li a {
  text-decoration: none;
  color: #333;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
